<div class="content-header">
    <a ng-href="/#/"><img src="/images/logo-sm.png" class="pull-left" alt="logo"></a>
  <div ng-controller="logoutController" class="pull-right">
    <a ng-click="logout()" href="#"> Logout</a>
  </div>
  <!-- <p class="pull-right">Logged in as {{currentUser.username}}</p> -->
</div>
<div class="text-center">
  <ul class="list-unstyled option-menu">
    <li class="option-btn"><a ng-href="#/add-link">Create Link</a></li>
    <li class="option-btn"><a ng-href="#/add-list">Create List</a></li>
    <li class="option-btn-selected"><a ng-href="#/add-project">Create Project</a></li>
  </ul>
</div>
<hr>
<div class="container">
  <h1>New Project</h1>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="addProject()">
  <div class="form-group">
      <label>Project Title</label>
      <input type="text" class="form-control" name="title" ng-model="projectForm.projectTitle" required>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" name="description" ng-model="projectForm.projectSummary">
    </div>
    <div class="form-group">
      <label>Website</label>
        <input type="text" class="form-control" name="website" ng-model="projectForm.website">
    </div>
    <div class="form-group">
      <label>Private Project?</label>
      <label class="radio-inline">
        <input type="radio" name="private" ng-model="projectForm.isPrivate" ng-value="true" required> Yes
      </label>
      <label class="radio-inline">
        <input type="radio" name="private" ng-model="projectForm.isPrivate" ng-value="false" required> No
      </label>
    </div>
    <div>
      <button type="submit" class="content-btn" ng-disabled="disabled">Add Project</button>
      <a ng-href="#/dashboard" class="option-btn">Cancel</a>
  </form>
</div>

