<div class="content-header">
  	<a ng-href="/#/"><img src="/images/logo-sm.png" class="pull-left" alt="logo"></a>
	<div ng-controller="logoutController" class="pull-right">
		<a ng-click="logout()" href="#"> Logout</a>
	</div>
	<!-- <p class="pull-right">Logged in as {{currentUser.username}}</p> -->
</div>
<div class="text-center">
	<ul class="list-unstyled option-menu">
		<li class="option-btn"><a ng-href="#/add-link">Create Link</a></li>
		<li class="option-btn"><a ng-href="#/add-list">Create List</a></li>
		<li class="option-btn"><a ng-href="#/add-project">Create Project</a></li>
	</ul>
</div>
<hr>
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h3>My Links</h3>
			<table class="table">
				<tr>
					<th>Title</th>
					<th>Date Added</th>
					<th></th>
					<th></th>
				</tr>
				<tr ng-repeat="l in userLinks | orderBy:'-dateAdded'">
					<td>
						<a href="http://{{l.url}}">{{l.linkName}}</a>
					</td>
					<td>
						{{l.dateAdded}}
					</td>
					<td>
						<a ng-href="#/edit-link/{{l._id}}"><img src="/images/edit-icon.png" alt="edit"></a>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-4">
			<h3>My Lists</h3>
			<table class="table">
				<tr>
					<th>Title</th>
					<th>Date Added</th>
					<th></th>
					<th></th>
				</tr>
				<tr ng-repeat="l in userLists | orderBy:'-dateAdded'">
					<td>
						<a ng-href="#/view-list/{{l._id}}">{{l.listName}}</a>
					</td>
					<td>
						{{l.dateAdded}}
					</td>
					<td>
						<a ng-href="#/edit-list/{{l._id}}"><img src="/images/edit-icon.png" alt="edit"></a>
					</td>
					<td>
						<a ng-href="#/add-item-list/{{l._id}}"><img src="/images/add-icon.png" alt="add"></a>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-4">
			<h3>My Projects</h3>
			<table class="table">
				<tr>
					<th>Title</th>
					<th>Date Added</th>
					<th></th>
					<th></th>
				</tr>
				<tr ng-repeat="p in userProjects | orderBy:'-dateAdded'">
					<td>
						<a ng-href="#/view-project/{{p._id}}">{{p.projectTitle}}</a>
					</td>
					<td>
						{{p.dateAdded}}
					</td>
					<td>
						<a ng-href="#/edit-project/{{p._id}}"><img src="/images/edit-icon.png" alt="edit"></a>
					</td>
					<td>
						<a ng-href="#/add-item-project/{{p._id}}"><img src="/images/add-icon.png" alt="add"></a>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

