<div class="content-header">
    <a ng-href="/#/"><img src="/images/logo-sm.png" class="pull-left" alt="logo"></a>
  <div ng-controller="logoutController" class="pull-right">
    <a ng-click="logout()" href="#"> Logout</a>
  </div>
  <!-- <p class="pull-right">Logged in as {{currentUser.username}}</p> -->
</div>
<div class="container">
  <div class="col-md-4">
    <div class="container">
      <h1>Edit Link</h1>
      <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
      <!-- edit form info  -->
      <form class="form" ng-submit="updateLink(linkForm)">
        <div class="form-group">
          <label>Link Title</label>
          <input type="text" class="form-control" name="title" ng-model="linkForm.linkName" required>
        </div>
        <!-- <div class="form-group">
          <label>Category</label>
          <select class="form-control" name="category" ng-model="linkForm.category" ng-options="">
            <option ng-value="1">option 1</option>
            <option ng-value="2">option 2</option>
            <option ng-value="3">option 3</option>
            <option ng-value="4">option 4</option>
            <option ng-value="5">option 5</option>
          </select>
        </div> -->
        <div class="form-group">
          <label>URL</label>
          <input type="text" class="form-control" name="url" ng-model="linkForm.url" required>
        </div>
        <button type="submit" class="content-btn" ng-disabled="disabled">Save Changes</button> 
        <button type="button" class="content-btn-danger" ng-click="deleteLink(linkForm)">Delete Link</button>
         <a ng-href="#/dashboard" class="option-btn">Cancel</a>
      </form>
    </div>
  
      <!-- form for adding lists -->
      <div class="container">
        <h1>Add Link to a List</h1>
        <form class="form" ng-submit="addList(linkForm)">
          <div class="form-group">
            <label>List Title</label>
            <input type="text" class="form-control" name="title" ng-model="linkForm.lists" required>
          </div>
          <button type="submit" class="content-btn" ng-disabled="disabled">Add</button>
        </form>
      </div>

      <!-- form for adding projects -->
      <div class="container">
        <h1>Add Link to a Project</h1>
        <form class="form" ng-submit="addProject(linkForm)">
          <div class="form-group">
            <label>Project Title</label>
            <input type="text" class="form-control" name="title" ng-model="linkForm.lists" required>
          </div>
          <button type="submit" class="content-btn" ng-disabled="disabled">Add</button>
        </form>
      </div>
    </div>
</div>
</div>