  <div class="col-md-4"></div>
      <h1>Edit Link</h1>
      <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
      <!-- edit form info  -->
      <form class="form" ng-submit="updateLink(linkForm)">
        <div class="form-group">
          <label>Link Title</label>
          <input type="text" class="form-control" name="title" ng-model="linkForm.linkName" required>
        </div>
        <!-- <div class="form-group">
          <label>Category</label>
          <select class="form-control" name="category" ng-model="linkForm.category" ng-options="">
            <option ng-value="1">option 1</option>
            <option ng-value="2">option 2</option>
            <option ng-value="3">option 3</option>
            <option ng-value="4">option 4</option>
            <option ng-value="5">option 5</option>
          </select>
        </div> -->
        <div class="form-group">
          <label>URL</label>
          <input type="text" class="form-control" name="url" ng-model="linkForm.url" required>
        </div>
        <button type="submit" class="content-btn" >Save Changes</button> 
         <a ui-sref="dashboard.view-dash" class="option-btn">Cancel</a>
      </form>
