<div class="row">
    <div class="col-md-4">
      <h3>My Links</h3>
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Date Added</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="l in userLinks | orderBy:'-dateAdded'">
          <td>
            <a href="#" ui-sref="dashboard.view-link({_id: l._id})">{{l.linkName}}</a>
          </td>
          <td>
            {{l.dateAdded}}
          </td>
          <td>
            <a href="#" ui-sref="dashboard.edit-link({_id: l._id})"><img src="/images/edit-icon.png" alt="edit"></a>
          </td>
          <td>
            <a href="http://{{l.url}}">Visit</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <h3>My Lists</h3>
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Date Added</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="l in userLists | orderBy:'-dateAdded'">
          <td>
            <a href="#" ui-sref="dashboard.view-list({_id: l._id})">{{l.listName}}</a>
          </td>
          <td>
            {{l.dateAdded}}
          </td>
          <td>
            <a href="#" ui-sref="dashboard.edit-list({_id: l._id})"><img src="/images/edit-icon.png" alt="edit"></a>
          </td>
          <td>
            <a href="#" ui-sref="dashboard.add-item-list({_id: l._id})"><img src="/images/add-icon.png" alt="add"></a>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-4">
      <h3>My Projects</h3>
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Date Added</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="p in userProjects | orderBy:'-dateAdded'">
          <td>
            <a href="#" ui-sref="dashboard.view-project({_id: p._id})">{{p.projectTitle}}</a>
          </td>
          <td>
            {{p.dateAdded}}
          </td>
          <td>
            <a href="#" ui-sref="dashboard.edit-project({_id: p._id})"><img src="/images/edit-icon.png" alt="edit"></a>
          </td>
          <td>
            <a href="#" ui-sref="dashboard.add-item-project({_id: p._id})"><img src="/images/add-icon.png" alt="add"></a>
          </td>
        </tr>
      </table>
    </div>
  </div>