  <div class="col-md-4"></div>
      <h1>Edit List</h1>
      <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
      <form class="form" ng-submit="updateList(listForm)">
      <div class="form-group">
          <label>List Title</label>
          <input type="text" class="form-control" name="title" ng-model="listForm.listName" required>
        </div>
        <!-- <div class="form-group">
          <label>Category</label>
          <select class="form-control" name="category" ng-model="listForm.category">
            <option ng-value="1">option 1</option>
            <option ng-value="2">option 2</option>
            <option ng-value="3">option 3</option>
            <option ng-value="4">option 4</option>
            <option ng-value="5">option 5</option>
          </select>
        </div> -->
        <button type="submit" class="content-btn" ng-disabled="disabled">Save Changes</button> 
        <button type="button" class="content-btn-danger" ng-click="deleteList(listForm)">Delete Link</button>
        <a ui-sref="dashboard.view-dash" class="option-btn">Cancel</a>
      </form>

