  <div class="col-md-4"></div>
  <h1>New Project</h1>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="addProject(projectForm)">
  <div class="form-group">
      <label>Project Title</label>
      <input type="text" class="form-control" name="title" ng-model="projectForm.projectTitle" required>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" name="description" ng-model="projectForm.projectSummary">
    </div>
    <div class="form-group">
      <label>Website</label>
        <input type="url" class="form-control" name="website" ng-model="projectForm.website">
    </div>
    <div class="form-group">
      <label>Private Project?</label>
      <label class="radio-inline">
        <input type="radio" name="private" ng-model="projectForm.isPrivate" ng-value="true" required> Yes
      </label>
      <label class="radio-inline">
        <input type="radio" name="private" ng-model="projectForm.isPrivate" ng-value="false" required> No
      </label>
    </div>
    <div>
      <button type="submit" class="content-btn" ng-disabled="disabled">Add Project</button>
      <a href="#" ui-sref="dashboard.view-dash" class="option-btn">Cancel</a>
  </form>

