 <div class="col-md-4"></div>
<div class="container">
	<h1>Project Detail</h1>
	<p>Title: {{projectItem.projectTitle}}</p>
	<p>Description: {{projectItem.projectSummary}}</p>
	<p>Added: {{projectItem.dateAdded}}</p>
	<p>Website: {{projectItem.website}}</p>
	<p>Created By: {{projectItem.createdBy}}</p>
	<p>Links: {{projectItem.weblinks}}</p>
	<a ui-sref="dashboard.view-dash" class="btn btn-default">Back</a>
	<a ng-href="#/edit-project/{{projectItem._id}}" class="btn btn-default">Edit</a>
</div>

