  <div class="col-md-4"></div>
  <h1>New Link</h1>
  <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
  <form class="form" ng-submit="addLink(linkForm)">
    <div class="form-group">
      <label>Link Title</label>
      <input type="text" class="form-control" name="title" ng-model="linkForm.linkName" required>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" name="description">
    </div>
    <div class="form-group">
      <label>URL</label>
      <input type="url" class="form-control" name="url" ng-model="linkForm.url" required>
    </div>
      <button type="submit" class="content-btn" ng-disabled="disabled">Add Link</button>
      <a href="#" ui-sref="dashboard.view-dash" class="option-btn">Cancel</a>
  </form>

