  <div class="row">
    <div class="col-md-4">
      <h3>My Links</h3>
      <table class="table">
        <tr>
          <th>Title</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr dir-paginate="l in userLinks | orderBy:'-dateAdded' | itemsPerPage: 5" pagination-id="link">
          <td>
            <a href="#" ui-sref="dashboard.view-link({_id: l._id})">{{l.linkName}}</a>
          </td>
          <td>
            <a href="#" ui-sref="dashboard.edit-link({_id: l._id})"><img src="/images/edit-icon.png" alt="edit"></a>
          </td>
          <td>
            <a href="http://{{l.url}}">Visit</a>
          </td>
          <td>
            <a href="#" ui-sref="dashboard.delete-link({_id: l._id})" ><img src="/images/delete-icon.png" alt="delete"></a>
          </td>
        </tr>
      </table>
        <dir-pagination-controls pagination-id="link"></dir-pagination-controls>
    </div>
    <div class="col-md-4">
      <h3>My Lists</h3>
      <table class="table">
        <tr>
          <th>Title</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr dir-paginate="l in userLists | orderBy:'-dateAdded' | itemsPerPage: 5" pagination-id="list">
          <td>
            <a href="#" ui-sref="dashboard.view-list({_id: l._id})">{{l.listName}}</a>
          </td>
          <td>
            <a href="#" ui-sref="dashboard.edit-list({_id: l._id})"><img src="/images/edit-icon.png" alt="edit"></a>
          </td>
          <td>
            <a href="#" ui-sref="dashboard.add-item-list({_id: l._id})"><img src="/images/add-icon.png" alt="add"></a>
          </td>
          <td>
            <a href="#" ui-sref="dashboard.delete-list({_id: l._id})" ><img src="/images/delete-icon.png" alt="delete"></a>
          </td>
        </tr>
      </table>
        <dir-pagination-controls pagination-id="list"></dir-pagination-controls>
    </div>
    <div class="col-md-4">
      <h3>My Projects</h3>
      <table class="table">
        <tr>
          <th>Title</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr dir-paginate="p in userProjects | orderBy:'-dateAdded' | itemsPerPage: 5" pagination-id="project">
          <td>
            <a href="#" ui-sref="dashboard.view-project({_id: p._id})">{{p.projectTitle}}</a>
          </td>
          <td>
            <a href="#" ui-sref="dashboard.edit-project({_id: p._id})"><img src="/images/edit-icon.png" alt="edit"></a>
          </td>
          <td>
            <a href="#" ui-sref="dashboard.add-item-project({_id: p._id})"><img src="/images/add-icon.png" alt="add"></a>
          </td>
          <td>
            <a href="#" ui-sref="dashboard.delete-project({_id: p._id})" ><img src="/images/delete-icon.png" alt="delete"></a>
          </td>
        </tr>
      </table>
        <dir-pagination-controls pagination-id="project"></dir-pagination-controls>
    </div>
  </div>