<div class="site-container container-fluid full-height">
	<div class="hero-section">
		<div class="hero-header pull-right">
			<a ng-href="#/login" class="hero-header-btn">Login</a>
			<!-- <a ng-href="#/register" class="hero-header-btn">Sign Up</a> -->
			<a ng-href="#" class="hero-header-btn">Home</a>
		</div>
		<div class="hero-content text-center">
			<a ng-href="/#/"><img src="/images/logo.png" alt="logo"></a>
		</div>
	</div>
	<div class="container content-section">
		<div class="row">
			<div class="col-md-4">
				<div class="link-section">
					<h1>All Links</h1>
					<table class="table">
						<tr>
							<th>Title</th>
							<th>Contributor</th>
						</tr>
						<tr dir-paginate="l in linkList | orderBy:'-dateAdded'| itemsPerPage: 10" pagination-id="link">
							<td>
								<a href="http://{{l.url}}">{{l.linkName}}</a>
							</td>
							<td>
								{{l.createdBy}}
							</td>
						</tr>
					</table>
        			<dir-pagination-controls pagination-id="link"></dir-pagination-controls>
				</div>
			</div>
			<div class="col-md-4">
				<div class="list-section">
					<h1>All Lists</h1>
					<table class="table">
						<tr>
							<th>Title</th>
							<th>Creator</th>
						</tr>
						<tr dir-paginate="l in listList | orderBy:'-dateAdded'| itemsPerPage: 10" pagination-id="list">
							<td>
								<a ng-href="#/view-list/{{l._id}}">{{l.listName}}</a>
							</td>
							<td>
								{{l.createdBy}}
							</td>
						</tr>
					</table>
        			<dir-pagination-controls pagination-id="list"></dir-pagination-controls>
				</div>
			</div>
			<div class="col-md-4">
				<div class="link-section">
					<h1>All Projects</h1>
					<table class="table">
						<tr>
							<th>Title</th>
							<th>Contributor</th>
						</tr>
						<tr dir-paginate="p in projectList | orderBy:'-dateAdded'| itemsPerPage: 10" pagination-id="project">
							<td>
								<a ng-href="#/view-project/{{p._id}}" >{{p.projectTitle}}</a>
							</td>
							<td>
								{{p.createdBy}}
							</td>
						</tr>
					</table>
        			<dir-pagination-controls pagination-id="project"></dir-pagination-controls>
				</div>
			</div>
		</div>
	</div>
</div>